@charset "utf-8";

body { margin:0; padding:0; background-color:#000; }
* { margin:0; padding:0; border:0; vertical-align:baseline; }


/******  SELECCION DE PERSONAJES  *****/


#select-char { width:100%; }
.char-face { float:left; }
.char-boton { display:block; width:80px; height:375px; }
.char-boton { color:#FFF; text-align:center; text-decoration:none; }
.char-boton p { padding:5px 5px; }
.char-boton:hover { text-decoration:underline; }


/******  FICHA PERSONAJES  *****/

#ficha-char { width:100%; display:block; background-color:#000; position:absolute; color:#FFF; opacity:0.9; }

#ficha-titulo { margin-top:20px; }
#ficha-titulo h1 { display:inline; }
#ficha-titulo a { color:#FFF; padding-left:15px; }

.ficha-clases { margin-top:20px; }
.ficha-clase p { display:inline; }

.ficha-armas { margin-top:20px; }

.ficha-skills, .ficha-unskills { margin-top:20px; }
.ficha-skill { margin-top:20px; }

.ficha-evilities, .ficha-unevilities { margin-top:20px; }
.ficha-evility { margin-top:20px; }
